page-page1 {
  .margin{
    margin-top:10px;
  }
  .score{
    font-size:260%;
  }
  .heart{
    font-size:60px;
  }
  .box{
    margin-top:40px;
  }
  .refresh{
    text-align: right !important;
    font-size:30px;
    margin-left:90%;
  }
  .scroll-content{
    overflow-y: hidden;
  }
}
